{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel = "stylesheet" type="text/css" href="{% static 'new.css' %}">
    <form action ="" method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <div class = "title_word">
            새로 추가 중
        </div>
        <div class = "title">
            <input type = "text" name = "title" placehoder ="제목">
            <input class = "day" type = "date" name = "day" value = "2020-05-21">
            <input class = "time" type = "time" name = "time">
        </div>
        <br>
        <div class = 'image-input'>
            <input type = "file" name = "img">
        </div>
        <input type = "text" name = "content" placeholder = 내용 style = "width:420px; height:400px;">
        <br>
        <div class = 'submit'>
            <button type ="submit"> 작성하기 </button>
        </div>
    </form>
{% endblock %}